
    body{
        background-color: lightblue;
    }
    
    h1{
        color:white; 
        text-align: center;
    }
 
    .page-header{
        padding:5px; 
        margin-bottom:10px;
    }

    #current_weather{
        padding:5px; 
        margin-bottom:10px; 
        font-size:18px;
    }

    .cw_details{
        width:100%;
    }

    .fiveDay{
        background-color:blue; 
        text-align:center;
        font-size: smaller; 
        color:white;  
        width:18%; 
        margin:1%; 
        padding:6px; 
        border-radius: 5px; 
        margin-bottom:10px;
    }

    .fiveDayHeader{
        font-size:28px; 
        font-weight: bolder; 
        text-align: center;
    }

    .enbiggin{

        font-size:40px; 
        font-weight: bolder;
    
    }

    .miniIcon{
        width:50px;
        height:50px;
    }
    
    .list-group{
        margin-top:10px;
    }

    .uvLow{
        background-color: limegreen;
    }

    .uvMid{
        background-color:yellow;
    }

    .uvHigh{
        background-color: red;
    }

    .uvBox{
        padding:3px;border-radius: 4px;
    }